/* Copyright (C) 2020-2022 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #000000;
    background-alt: #39404f;
    foreground:     #D8DEE9;
    selected:       #FFFFFF;
    active:         #999999;
    urgent:         #000000;
}
